html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================================================= */
/*
COLORS:
light gray - #999D9D
*/
/* ====================== NAVBAR ==================== */
body {

	font-family: helvetica;
	background-color: black;
	background-image: url("Photos/background.png");
	padding:1%;
}

.navbar-inverse {
	border-bottom-color: #999D9D;
	border-style: solid;
	border-bottom-width: 2px;
	background-color: black;
}

.navbar-brand {
	font-size: 1.4em;
	letter-spacing: .1em;
	color: white !important;
	margin: 2px 0px 0px 0px;
}

img.tiny-logo {
	width: 38px;
	height: 38px;
	margin: 10px 25px 12px 15px;
	float: left;
}

.navbar-brand:hover {
	color: #999D9D !important;
}

.navbar-slogan {

	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: lighter;
    line-height: 22px;
    color: white;
    margin: 5px 0px 0px 7px;
    margin
}

/* ==================== CAROUSEL ==================== */

.carousel {
	width: 96%;
	margin: 3% 2% 2% 2%;
}

.item {

	border-style: solid;
	border-color: black;
	border-width: 0px 2px 2px 2px;
	border-radius: 5px;
}

/* ===================== PANELS =================== */

.secondary-header {

	color: white;
	text-align: center;
	margin: 5%;
	letter-spacing: .2em;
	font-size: 2.3em;
	position: absolute; 	
	top: 10px; 
    right: -30px; 
    width: 100%; 
}



.on-sale-img {

	width: 95.5%;
	float: left;
	opacity: 1;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
}

.new-arrival-img {

	float:right;
	width: 95.5%;
	opacity: 1;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	border-radius: 5px;
}

.panel-image {
	background-color: black;
	width: 100%;
	opacity: 1;

}







/* =============== MEDIA SIZE CHANGES ============== */

@media (max-width: 1000px) {
  .navbar-slogan {
    display: none;
  }
}

@media (max-width: 766px) {

	.on-sale-img {

		float: left;
		margin: 0% 0% 3% 2%;

	}

	.new-arrival-img {

		float: left;
		margin: 0% 0% 3% 2%;
	}

}


/* also where the navbar links turn into a hamburge 766pxr */
@media (max-width: 600px) {
	.carousel {

		width: 100%;
		margin: 5% 0% 2% 0%;
	}

	img.tiny-logo {
		
		margin: 10px 20px 12px 15px;;
	}

	.navbar-brand {

		display: none;
	}
}


